@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* SMOOTH SCROLLING */
* {
    scroll-behavior: smooth;
}

:root {
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
}


/* WHOLE PAGE CONTAINER */

.container {
    width: 99vw;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 0.2fr 0.05fr 0.2fr 100px;
    grid-template-areas: 
    "header header header header"
    "main main main main"
    "scroll scroll scroll scroll"
    ". section section ."
    "footer footer footer footer";
}

/* HEADER */
header {
    width: 100%;
    height: 100%;
    grid-area: header;
    justify-content: space-around;
    font-size: 1.5rem;
}

nav {
    height: 80px;
    width: 30vw;
    justify-content: space-around;   
}

nav ul {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
nav li {
    list-style-type: none;
}
nav ul li a {
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
nav ul li a:after {
    position: absolute;
    content: "";
    left:0;
    bottom: -5px;
    width: 0;
    height: 25%;
    background:#FFD35C;
    opacity: 0.5;
    transition: all .5s ease-in-out;
  }

nav ul li a:hover:after {
    width: 100%;
}

header a {
    color: #98AAC4;
    font-weight: 500;
}

/* MAIN */
main {
    width: 100%;
    height: 100%;
    grid-area: main;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 5rem;
}

/* ANIMATION TYPEWRITING */

.line {
    width: 100%;
    border-right: 3px solid rgba(151, 170, 195, 0.45);
    white-space: nowrap;
    overflow: hidden;
}

.type {
    animation: typewriter 4s steps(20) 1s 1 normal forwards, cursor 0.4s 16 normal;
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 11.5ch;
        border-right-color: transparent;
    }

}

@keyframes cursor {
    from {
        border-right-color: rgba(151, 170, 195, 0.45);
    }
    to {
        border-right-color: transparent;
    }
}

/* END OF ANIMATION */

.presentation p {
    font-size: 3rem;
    padding-right: 2%;
    color: #98aac4;
}

.presentation a {
    color: black;
    font-style: italic;
    font-weight: 400;
}


.photo-presentation img {
    background-color:#FFD35C;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    padding-left: 2rem;
    border-radius: 8px;
    width: 115%;
    height: 50%;
}


.fun-fact {
    width: 200px;
    height: 3rem;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: all 0.8s ease-in-out;
    font-size: 1.5rem;
    font-weight: 600;
    border:2px solid #97aac3;
    color: black; 
}


.fun-fact:hover {
    transform: scale(1.2);
    cursor: pointer;
    color: #FFD35C;
}

/* SCROLL DOWN BUTTON */

.scroll-down {
    height: 20vh;
    grid-area: scroll;
    align-items: center;
    justify-content: center;
    font-size: 2rem;   
}

/* SECTION */
section {
    width: 100%;
    /* width: 100vw; */
    height: 65vh;
    grid-area: section;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 0.5fr 5fr;
    grid-template-areas:
    "h2 h2 h2 h2" 
    ". image image image";
    gap: 2rem;
    margin: 10% 0;
}

/* aside {
    grid-area: aside;
    height: 60%;
    text-transform: uppercase;
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    background-color: #FFD35C;
    line-height: 200%;
    padding: 1% 5% 1% 2%;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 1%;
} */

.h2 {
    grid-area: h2;
    text-align: center;
    
}


aside h2 {
    background-color: #FFD35C;
    color: #98AAC4;
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    font-size: 2rem;
}

section img {
    grid-area: image;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0.3;
    transition: all 0.5s ease-in-out;
}

section img:hover {
    opacity: 1;
}

section .project-1,
section .project-2,
section .project-3 {
    /* width: 30%; */
    height: 70%;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -8px -8px 12px 0 rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

section div:hover {
    transform: scale(0.9);transition: all 1s ease-in-out;
}

/* FOOTER */
footer {
    grid-area: footer;
    font-size: 2.5rem;
    color: #97aac3;
}

footer ul {
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer li {
    list-style-type: none;
}


i:hover {
    color: #FFD35C;
    transition: all 0.5s ease-in-out;
}

/* LINKS */

a:active,
a:visited,
a:link,
a:hover {
    text-decoration: none;
}

a {
    color: #98AAC4;
}
